/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}

.header-logo{
    width: 50px;
    height: 50px;
    width: 20px;
    float: left;
}

body{
    background-color: rosybrown;
}

.header-search{
    float: right;
    padding: 10px 10px;
    align-items: right;
    background-color: antiquewhite;
    border-radius: 5px;
} 

/* CSS for NAV-BAR */
.creating-nav{
    display: inline-block;
    margin: 2%;
    background-color: plum;
    text-align: center;
    padding : 10px 20px;
    border-radius: 5px;
    width: 90%;
} 

.nav-link-1{
    padding: 1px 10%;
    display: inline-block;
    margin-left: 0%;
}

.nav-link-2{
    padding:1px 10%;
    display: inline-block;
}

.nav-link-3{
    padding: 1px 10%;
    display: inline-block;
}

.nav-link-4{
    padding: 1px 10%;
    display: inline-block;
}

/* CSS for Aside left */
.edit-aside-left{
    float: left;
    background-color: salmon;
    color: royalblue;
    height: 25%;
    width: 10%;
    padding: 0px 10px;
    border-radius: 5px;
}

/* css for section  */
.creating-third-row-second-col{
    display: inline-block;
    /* margin: 0% 8%; */
    margin: 0% 15%;

    /* margin-left: 18%; */
    margin-left: 10%;
    margin-top: 0%;
    height: 5%;
    /* width: 50%; */
}

.post-img{
    height: 5%;
}


#right-sidebar-menu{
    float: right;
    background-color: salmon;
    color: royalblue;
    height: 25%;
    width: 10%;
    padding: 0px 10px;
    border-radius: 5px;
}

#page-footer{
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    color: purple;
    text-align: center;

}

